
.mx_PredefinedMessages_content_container {
    overflow: hidden;
    height: 80px;
}

.mx_PredefinedMessages_messages {
    mask-image: url('$(res)/img/feather-customised/messages.svg');
}

.mx_PredefinedMessages_RequestStartButton {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 6px;
    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color:#03b381;
    color: #FFFFFF;
    text-align:center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mx_PredefinedMessages_InformCancelationButton {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 40px;
    padding: 5px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color:#eda454;
    color: #FFFFFF;
    text-align:center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}